.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}



@media only screen and (max-width:577px) {

    /* 577px এর নিচে এই স্টাইল গুলো কাজ করবে।  */
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width:578px) and (max-width:768px) {

    /* between 578px to 768px those style will work */
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width:769)and (max-width:992) {

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}